body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #3984ba; /* Cambiado el fondo a un azul claro */
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
button {
    background-color: #ffffff;
    color: rgb(146, 134, 134);
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
